@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

$black: #424242;
$deep-blue: #5d83b1;
$light-blue: #d8e5f4;
$light-grey: #eeeeee;
$deep-grey: #a0a0a0;
$orange: #ebba9b;
$white: rgb(250, 250, 250);

$breakpoint-mobile: 375px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1440px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
}

html {
  font-size: 10px;
}

.App {
  color: $black;
  font-weight: bold;
}
