@import '../../App';

.LoginModal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginModal {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.LoginModal_in {
  width: 380px;
  height: 600px;
  background-color: $white;
  display: flex;
  justify-content: center;

  #LoginModal_img_Login_Signup {
    display: none;
  }

  .LoginModal_Login {
    width: 100%;
  }

  .LoginModal_Signup {
    display: none;
  }
}

@include tablet {
  .LoginModal_container {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .LoginModal {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
  }

  .LoginModal_in {
    width: 380px;
    height: 600px;
    border-radius: 6px;
    padding: 0;
  }
}

@include laptop {
  .LoginModal_in {
    position: relative;
    background-color: $white;
    width: 760px;
    height: 500px;

    #LoginModal_img_Login_Signup {
      display: flex;
      position: absolute;
      z-index: 50;
      right: 0;
      width: 370px;
      height: 100%;
      background-image: url('../../images/login_signup_modal_web.png');
      background-size: cover;
      background-position: bottom;
      padding: 90px 0;
      border-radius: 0 6px 6px 0;
      transition: all 1s;

      .img {
        width: 100%;
        #LoginModal_Signup_change {
          display: flex;
          flex-direction: column;
          align-items: center;
          div {
            font-size: 1.8rem;
            font-weight: 800;
            color: $white;
            margin-bottom: 20px;
          }
          button {
            width: 120px;
            height: 30px;
            border-radius: 20px;
            border: none;
            background-color: $white;
            font-size: 1.4rem;
            font-weight: 600;
            &:hover {
              background-color: $deep-blue;
              color: $white;
            }
            &:active {
              transform: scale(0.98);
            }
          }
        }

        #LoginModal_Login_change {
          display: none;
          flex-direction: column;
          align-items: center;
          div {
            font-size: 1.8rem;
            font-weight: 800;
            color: $white;
            margin-bottom: 20px;
          }
          button {
            width: 120px;
            height: 30px;
            border-radius: 20px;
            border: none;
            background-color: $white;
            font-size: 1.4rem;
            font-weight: 600;
            &:hover {
              background-color: $deep-blue;
              color: $white;
            }
            &:active {
              transform: scale(0.98);
            }
          }
        }
      }
    }

    .LoginModal_Login {
      width: 50%;
    }

    .LoginModal_Signup {
      width: 50%;
      display: flex;
    }
  }
}
