@import '../../App.scss';
@import '../landing/constants';
@import '../landing/responsive';

.nav {
  width: 100%;
  min-width: $breakpoint-mobile;
  height: 70px;
  background-color: transparent;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: relative;
  z-index: 0;

  .nav_logo {
    img {
      height: 20px;
      position: center;
      object-fit: cover;
    }
  }
  .icon_search {
    position: relative;
    top: 2px;
    margin-right: 25px;
    cursor: pointer;
  }
  .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    .icon_search {
      width: 14px;
      filter: $f-black;
    }
    .login {
      margin-right: 20px;
      cursor: pointer;
    }
    .mypage {
      margin-right: 20px;
      cursor: pointer;
    }
    .signup {
      cursor: pointer;
    }
    .logout {
      cursor: pointer;
    }
    .icon_search,
    .login,
    .mypage,
    .signup,
    .logout {
      background-color: transparent;
      border: none;
    }
  }
}

@include tablet {
  .nav {
    height: 100px;
    padding: 0 40px;
    .nav_logo {
      img {
        height: 30px;
      }
    }
    .nav_right {
      font-size: 1.4rem;
      .icon_search {
        width: 20px;
        margin-right: 40px;
      }

      .login {
        margin-right: 40px;
      }
      .mypage {
        margin-right: 40px;
      }
    }
  }
}
