@import '../../App.scss';
@import '../landing/constants';
@import '../landing/responsive';

.navChange {
  position: sticky;
  width: 100%;
  min-width: $breakpoint-mobile;
  height: 70px;
  background-color: $white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $light-grey;
  padding: 0 25px;
  z-index: 400;
  .nav_logo {
    img {
      height: 20px;
      position: center;
      object-fit: contain;
    }
  }

  .nav_mid {
    width: 40%;
    position: relative;

    input[type='text'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus,
      &:active {
        outline: solid 2px $deep-blue;
      }
    }
    .search-input {
      width: 100%;
      height: 30px;
      font-size: 1rem;
      border: solid 1px $deep-grey;
      border-radius: 15px;
      position: relative;
      padding: 0 15px;
      // & + .navChange_searchmodal {
      //   visibility: hidden;
      // }
      // &:focus {
      //   & + .navChange_searchmodal {
      //     visibility: visible;
      //   }
      // }
    }
    .icon_search {
      width: 14px;
      position: absolute;
      top: 7px;
      right: 12px;
<<<<<<< HEAD
      cursor: pointer;

=======
      border: none;
      background-color: transparent;
      &:hover {
        filter: $f-deep-blue;
      }
      &:active {
        transform: scale(0.95);
      }
>>>>>>> 5a1bb3d (fix: introTwo,nav,navChange 버튼,효과 수정)
      img {
        filter: invert(39%) sepia(35%) saturate(180%) hue-rotate(187deg)
          brightness(89%) contrast(93%);
      }
    }
  }

  .nav_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $black;
    font-size: 1rem;
    font-weight: 600;

    img {
      filter: $f-black;
    }
    .login {
      margin-right: 20px;
      cursor: pointer;
    }
    .mypage {
      margin-right: 20px;
    }
<<<<<<< HEAD
    .signup {
      cursor: pointer;
    }
    .logout {
      cursor: pointer;
=======
    .login,
    .mypage,
    .signup,
    .logout {
      background-color: transparent;
      border: none;
      &:hover {
        font-weight: 800;
        color: $deep-blue;
      }
      &:active {
        transform: scale(0.95);
      }
>>>>>>> 5a1bb3d (fix: introTwo,nav,navChange 버튼,효과 수정)
    }
  }
}

@include tablet {
  .navChange {
    height: 100px;
    padding: 0 40px;
    .nav_logo {
      img {
        height: 30px;
      }
    }
    .nav_mid {
      width: 50%;
      .search-input {
        font-size: 1.4rem;
        height: 40px;
        border-radius: 20px;
      }
      .icon_search {
        width: 20px;
        top: 9px;
      }
    }
    .nav_right {
      font-size: 1.4rem;
      .login {
        margin-right: 40px;
      }
      .mypage {
        margin-right: 40px;
      }
    }
  }
}

@include desktop {
  .navChange {
    .nav_mid {
      width: 50%;
    }
  }
}
