@import '../../App.scss';
@import '../landing/constants';
@import '../landing/responsive';

.navChange {
  width: 100%;
  min-width: $breakpoint-mobile;
  height: 70px;
  background-color: $white;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px $light-grey;
  padding: $sm-margin $mid-margin;
  // position: relative;
  z-index: 10;
  .nav_logo {
    img {
      height: 20px;
      position: center;
      object-fit: cover;
    }
  }
  
  .nav_mid {
    width: 40%;
    position: relative;
    input[type='text'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus,
      &:active {
        outline: solid 2px $deep-blue;
      }
    }
    .search-input {
      width: 100%;
      height: 30px;
      font-size: 1rem;
      border: solid 1px $light-grey;
      border-radius: 15px;
      position: relative;
      padding: 0 $sm-margin * 2;
    }
    .icon_search {
      width: 14px;
      position: absolute;
      top: 7px;
      right: 12px;

      img {
        filter: invert(39%) sepia(35%) saturate(180%) hue-rotate(187deg)
        brightness(89%) contrast(93%);
      }
    }
  }
  
  .nav_right {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    
    img {
      filter: $f-black;
    }
  }
}

@include tablet {
  .navChange {
    height: 100px;
    padding: $mid-margin $mid-margin * 2;
    .nav_logo {
      img {
        height: 30px;
      }
    }
    .nav_mid {
      width: 50%;
      .search-input {
        font-size: 1.4rem;
        height: 40px;
        border-radius: 20px;
      }
      .icon_search {
        width: 20px;
        top: 9px;
      }
    }
    .nav_right {
      width: 150px;
      font-size: 1.4rem;
    }
  }
}

@include desktop {
  .navChange {
    padding: $mid-margin $mid-margin * 3;
    .nav_mid {
      width: 50%;
      margin-left: $mid-margin * 4;
    }
    .nav_right {
      width: 160px;
    }
  }
}
