@import '../../App';

.modal_wrapper {
  .delete_img_container {
    display: none;
  }
}

@include laptop {
  .modal_wrapper {
    .delete_img_container {
      display: block;

      background: url('../../images/delete_review_modal_web.png') no-repeat
        center center/cover;
      width: 380px;
      height: 500px;

      display: flex;
      justify-content: center;

      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
