@import '../../App';

.my-activity_container {
  margin: 0 2.2rem;

  #tab_menu {
    margin: 0 0.2rem;
    display: flex;
    list-style: none;
    -webkit-padding-start: 0;
    color: $light-grey;
    font-size: 1.2rem;
    border-bottom: 1px solid $light-grey;

    li:nth-child(2) {
      color: $deep-grey;
    }

    .submenu {
      padding: 1rem 0.5rem 1rem 0.5rem;
      cursor: pointer;
    }

    .focused {
      transition: 0.5s ease;
      font-weight: 800;
      color: $black;
    }
  }

  .my-contents {
    padding-top: 2rem;
  }
}

@include tablet {
  #tab_menu {
    font-size: 1.4rem;
  }
}

@include laptop {
  .my-activity_container {
    margin: 0;
    width: 80%;
    height: 100%;

    #tab_menu {
      margin: 0;
      height: 5%;
    }

    .my-contents {
      height: 95%;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
  }
}

@include desktop {
  .my-activity_container {
    #tab_menu {
      font-size: 1.6rem;
    }
  }
}
