@import '../../App';

.my-activity_container {
  margin: 0 22px;

  #tab_menu {
    margin: 0 2px;
    display: flex;
    list-style: none;
    -webkit-padding-start: 0;
    color: $light-grey;
    font-size: 1.2rem;
    border-bottom: 1px solid $light-grey;

    li:nth-child(2) {
      color: $deep-grey;
    }

    .submenu {
      padding: 0px 5px 5px 5px;
      cursor: pointer;
    }

    .focused {
      transition: 0.5s ease;
      font-weight: 800;
      color: $black;
    }
  }

  .my-contents {
    padding-top: 25px;
  }
}

@include tablet {
  #tab_menu {
    font-size: 1.4rem;
  }
}

@include laptop {
  .my-activity_container {
    margin: 0;
    width: calc(100vw - 390px);
    height: calc(100vh - 160px);

    #tab_menu {
      margin: 0;
      height: 25px;
      font-size: 1.5rem;
    }

    .my-contents {
      padding: 25px 5px 0 5px;

      height: calc(100vh - 185px);
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
  }
}

@include desktop {
  .my-activity_container {
    #tab_menu {
      font-size: 1.6rem;
    }

    .my-contents {
      padding-top: 20px;
    }
  }
}
