@import '../../App';

.modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .modal_view {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100%;

    .title {
      font-weight: 800;
      font-size: 2.5rem;
    }

    .img_info {
      margin-left: -20px;
      display: flex;
      align-items: center;
      gap: 30px;

      div {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 60px;
        span {
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.4);
            color: $white;
            opacity: 1;
            cursor: pointer;
            border-radius: 60px;
            font-size: 2rem;
            font-weight: 600;
          }
        }
        .profile_img {
          border-radius: 60px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border: 1px solid $light-grey;
        }
      }

      span {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 1.2rem;
      }

      label {
        margin-left: -20px;
        .clip_icon {
          width: 20px;
          cursor: pointer;
          &:hover {
            filter: $f-deep-blue;
          }
        }
        input {
          display: none;
        }
      }
    }

    label {
      font-weight: 800;
      font-size: 1.2rem;
    }

    .modify_notice {
      color: $red;
      padding-left: 13px;
      font-weight: 800;
    }

    .dummy {
      opacity: 0;
    }

    button {
      border: none;
      background: inherit;
    }
    .btns_container {
      display: flex;
      align-items: center;

      .modify_btn {
        font-weight: 800;
        font-size: 1.6rem;
        background-color: $light-blue;
        border-radius: 30px;
        min-width: 250px;
        min-height: 35px;
        &:hover {
          background-color: $deep-blue;
          color: $white;
        }
      }
      .withdrawal_btn {
        width: 50px;
        margin-top: 10px;
        font-size: 1rem;
        color: $deep-grey;
        &:hover {
          color: $red;
          font-weight: 600;
        }
      }
    }

    input {
      border: none;
      min-width: 250px;
      min-height: 35px;
      border-radius: 30px;
      border: 1px solid $light-grey;
      padding-left: 10px;
      &:focus,
      &:active {
        outline: solid 2px $deep-blue;
      }
    }

    input[disabled] {
      outline: solid 1px $light-grey;
      background-color: $light-grey;
      &::placeholder {
        color: $deep-grey;
      }
    }

    .password_modify,
    label,
    .btns_container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .modify_img_container {
    display: none;
  }
}

@include tablet {
  .modal_container {
    .modal_view {
      width: 380px;
      height: 500px;
      border-radius: 5px;
      gap: 20px;
      padding-bottom: 10px;

      .title {
        margin: 15px 0 -5px -145px;
        font-size: 2rem;
      }

      .btns_container {
        .withdrawal_btn {
          margin-top: 0;
        }
      }
    }
  }

  @include laptop {
    .modal_container {
      .modal_view {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .modify_img_container {
        display: block;
        background: url('../../images/my_info_modal_web.png') no-repeat center
          center/cover;
        width: 380px;
        height: 500px;

        display: flex;
        justify-content: center;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        img {
          width: 100px;
          height: 35px;
          margin-top: 35%;
        }
      }
    }
  }
}
