@import '../../App';

.my-products {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 500px) {
  .my-products {
    grid-template-columns: repeat(3, auto);
  }
}

@include tablet {
  .my-products {
    grid-template-columns: repeat(4, auto);
  }
}

@include laptop {
  .my-products {
    height: 100%;
  }
}
@include desktop {
  .my-products {
    grid-template-columns: repeat(5, auto);
  }
}
