@import '../../App';

#profile_container {
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  margin-bottom: 20px;
  background-color: $light-grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  min-width: 32rem;
  min-height: 12rem;

  #profile_info {
    display: flex;
    align-items: center;

    .profile_img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      border-radius: 5rem;
    }

    #nickname-email_container {
      margin-left: 1.5rem;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-between;
      margin-left: 20px;
      .profile_nickname {
        font-size: 1.5rem;
        font-weight: 800;
      }

      #profile_email {
        display: flex;
        margin-top: 8px;
        letter-spacing: 1.2px;
        img {
          width: 1.2rem;
          height: 1.2rem;
          margin-right: 6px;
          filter: invert(58%) sepia(68%) saturate(4375%) hue-rotate(116deg) brightness(100%) contrast(102%);
        }
      }
      .verifyBtn {
        width: 88px;
        height: 20px;
        font-size: 1rem;
        color: #4d4d4d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        .icon-send {
          width: 16px;
          filter: $f-deep-grey;
        }
      }

      button {
        font-size: 1rem;
        margin-left: -3px;
        width: 65px;
        height: 20px;
        font-weight: 600;
      }
    }
  }

  #profile_set {
    width: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@include tablet {
  #profile_container {
    padding: 0 65px;
    font-size: 1.4rem;
    min-height: 20rem;
    gap: 250px;

    #profile_info {
      .profile_img {
        width: 10rem;
        height: 10rem;
        border-radius: 6rem;
        margin-bottom: 10px;
      }

      #nickname-email_container {
        margin-left: 3.5rem;
        font-size: 1.4rem;
        gap: 7px;

        .profile_nickname {
          font-size: 1.8rem;
        }
        
        #profile_email {
          letter-spacing: 1px;
          display: flex;
          justify-content: space-between;
          img {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0;
          }
          #user-email {
            margin-left: 6px;
          }
        }

        button {
          width: 90px;
          height: 30px;
          border-radius: 100px;
          font-size: 1.4rem;
        }
      }
    }

    #profile_set {
      width: 3rem;
    }
  }
}

@include laptop {
  #profile_container {
    min-width: 0;
    margin: 0 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    width: 300px;

    #profile_info {
      flex-direction: column;

      #nickname-email_container {
        margin-top: 2rem;
        margin-left: 0;
        align-items: center;
        gap: 8px;

        button {
          margin-left: 0;
        }
      }
    }

    #profile_set {
      margin-top: 2rem;
    }
  }
}

@include desktop {
  #profile_container {
    font-size: 1.5rem;
    margin-bottom: 0;

    #profile_info {
      .profile_img {
        width: 12rem;
        height: 12rem;
        border-radius: 8rem;
      }

      #nickname-email_container {
        gap: 9px;
        .profile_nickname {
          font-size: 2rem;
        }

        #profile_email {
          font-size: 1.6rem;

          img {
            width: 1.7rem;
            height: 1.7rem;
          }
        }

        button {
          width: 110px;
          height: 40px;
          border-radius: 200px;
          font-size: 1.6rem;
        }
      }
    }

    #profile_set {
      width: 4rem;
    }
  }
}
