@import '../../App';

#profile_container {
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  background-color: $light-grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  min-width: 32rem;
  min-height: 12rem;

  #profile_info {
    display: flex;
    align-items: center;

    .profile_img {
      width: 7rem;
      border-radius: 5rem;
    }

    #nickname-email_container {
      margin-left: 1.5rem;
      display: flex;
      flex-direction: column;

      .profile_nickname {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
      }
    }
  }

  #profile_set {
    width: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}

@include tablet {
  #profile_container {
    padding: 0 65px;
    font-size: 1.2rem;
    min-height: 20rem;
    gap: 250px;

    #profile_info {
      .profile_img {
        width: 10rem;
        border-radius: 6rem;
      }

      #nickname-email_container {
        margin-left: 3.5rem;
        .profile_nickname {
          font-size: 1.8rem;
        }
      }
    }

    #profile_set {
      width: 3rem;
    }
  }
}

@include laptop {
  #profile_container {
    min-width: 0;
    margin: 0 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    width: 20%;

    #profile_info {
      flex-direction: column;

      #nickname-email_container {
        margin-top: 2rem;
        margin-left: 0;
        align-items: center;
      }
    }

    #profile_set {
      margin-top: 2rem;
    }
  }
}

@include desktop {
  #profile_container {
    font-size: 1.5rem;
    width: 20%;

    .profile_img {
      width: 17rem;
      border-radius: 10rem;
    }

    .profile_nickname {
      font-size: 2rem;
    }

    #profile_set {
      width: 4rem;
    }
  }
}
