@import '../../App';

.modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .modal_contents {
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32rem;
    height: 21rem;
    border-radius: 0.5rem;
    gap: 2rem;

    span {
      font-size: 1.8rem;
      font-weight: 800;
    }

    p {
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.5rem;
    }

    .buttons_container {
      display: flex;
      gap: 1rem;
      button {
        border: none;
        background: inherit;
        font-size: 1.6rem;
        font-weight: 800;
        width: 10rem;
        height: 3.5rem;
        background-color: $light-blue;
        border-radius: 3rem;
        &:hover {
          background-color: $deep-blue;
          color: $white;
        }
      }
    }
  }
}
.withdrawl_img_container {
  display: none;
}

@include tablet {
  .modal_wrapper {
    .modal_contents {
      width: 38rem;
      height: 50rem;
      gap: 5rem;

      span {
        font-size: 2rem;
      }
      p {
        margin-top: -2rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
}

@include laptop {
  .modal_wrapper {
    .modal_contents {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .withdrawl_img_container {
      display: block;
      background: url('../../images/withdraw_modal_web.png') no-repeat center
        center/cover;
      width: 38rem;
      height: 50rem;

      display: flex;
      justify-content: center;

      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      img {
        width: 10rem;
        height: 3.5rem;
        margin-top: 35%;
      }
    }
  }
}
