<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      body {
        background-color: #fafafa;
        display: flex;
        justify-content: center;
      }

      .container {
        margin: 30px;
        padding: 30px;
        width: 800px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: #ffffff;
      }

      img {
        width: 100px;
      }
    </style> -->
  </head>
  <body background-color="#fafafa" display="flex" justify-content="center">
    <div
      class="container"
      margin="30px"
      padding="30px"
      width="800px"
      height="400px"
      display="flex"
      flex-direction="column"
      align-items="center"
      gap="30px"
      background-color="#ffffff"
    >
      <img
        src="https://user-images.githubusercontent.com/81850352/138268573-4df8722b-f021-4f51-934b-e99a7ad3a125.png"
        alt="logo"
        width="100px"
      />
      <span>안녕하세요. 건강 기능 식품 이야기 (건식이) 입니다.</span>
      <span
        >안전한 회원가입 완료를 위해 건식이 이메일 인증을 진행해주세요.</span
      >
      <a href="#{url}"><button>이메일 인증하기</button></a>
    </div>
  </body>
</html>
