<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    width="100%"
    style="
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 30px 30px;
    "
  >
    <table
      width="400px"
      style="
        background-color: #fafafa;
        text-align: center;
        border-collapse: separate;
        border-radius: 10px;
      "
    >
      <tbody>
        <tr style="height: 70px">
          <td style="padding-top: 25px">
            <img
              src="https://user-images.githubusercontent.com/81850352/140922865-a897af7f-3464-439e-b67b-a5480ef46743.png"
              alt="logo"
              style="width: 90px; object-fit: contain"
            />
          </td>
        </tr>
        <tr style="height: 60px; color: #424242; font-size: 0.9rem">
          <td style="padding-top: 20px">
            안녕하세요! 건강 기능 식품 이야기, 건식이 입니다.
          </td>
        </tr>
        <tr
          style="
            height: 50px;
            vertical-align: top;
            color: #424242;
            font-size: 0.9rem;
          "
        >
          <td>비밀번호 재설정을 위해 아래의 버튼을 눌러주세요.</td>
        </tr>
        <tr style="height: 70px">
          <td style="vertical-align: top; padding-top: 10px">
            <a
              href="#{url}"
              style="
                border-radius: 40px;
                border: #d8e5f4;
                background-color: #d8e5f4;
                margin-top: 10px;
                cursor: pointer;
                color: #424242;
                font-size: 0.9rem;
                padding: 7px 15px;
                text-decoration: none;
              "
            >
              비밀번호 재설정하기
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
