$sm-baseWidth: 375px;
$mid-breakpoint: 768px;
$lg-breakpoint: 1440px;

$gutter: 20px;

$sm-columns: 1;
$sm-margin: 10px;

$mid-columns: 2;
$mid-margin: 30px;
$mid-max-container: 800px + $mid-margin * 2;

$lg-columns: 3;
$lg-unit: 400px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

$grid-margin: 15px;