@import './constants';
@import '../landing/responsive';
@import '../landing/grid';
@import '../../App.scss';

.footer {
  width: 100%;
  padding: $sm-margin * 2 $sm-margin;
  .repository {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $sm-margin;
    margin-bottom: $sm-margin;

    .title {
      font-size: 1rem;
      font-weight: 600;
      margin-right: $mid-margin;
    }
    a {
      text-decoration: none;
      text-decoration-line: underline;
      &:link,
      &:visited {
        text-decoration: none;
        color: $deep-grey;
      }
    }
  }
  .members {
    display: flex;
    justify-content: center;
    align-items: center;

    .github {
      width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $deep-grey;
      img {
        width: 18%;
      }
    }

    .github:link,
    .github:visited {
      text-decoration: none;
    }
    .member-name {
      font-size: 1rem;
      margin-left: 4px;
      color: $black;
    }
  }
  @include responsive(T) {
    .repository {
      margin-bottom: 0;
    }
  }
  @include responsive(D) {
    display: flex;
    justify-content: space-between;
    padding: $sm-margin * 2 $mid-margin;
    .row {
      justify-content: space-between;
      .repository {
        width: 28%;
        margin-bottom: 0;
        .title {
          font-size: 1.2rem;
        }
      }
      .members {
        width: 71%;
        .github {
          justify-content: flex-end;
          img {
            width: 12%;
          }
          .member-name {
            font-size: 1.2rem;
            text-align: right;
            margin-left: 10px;
          }
        }
      }
    }
  }
}
