@import '../../App.scss';

// animation
@keyframes slide-bottom {
  0%,
  10% {
    opacity: 0;
    transform: translateY(10%);
  }
  20%,
  85% {
    opacity: 1;
    transform: translateY(0%);
  }
  90%,
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

@keyframes slide-left {
  0%,
  10% {
    opacity: 0;
    transform: translateX(-10%);
  }
  20%,
  85% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}

@-webkit-keyframes slide-bottom {
  0%,
  10% {
    opacity: 0;
    transform: translateY(10%);
  }
  20%,
  85% {
    opacity: 1;
    transform: translateY(0%);
  }
  90%,
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@-moz-keyframes slide-bottom {
  0%,
  10% {
    opacity: 0;
    transform: translateY(10%);
  }
  20%,
  85% {
    opacity: 1;
    transform: translateY(0%);
  }
  90%,
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

// introKick css

.introKick {
  width: 100%;
  height: 18%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .textBox {
    height: 20%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: slide-bottom 7s infinite;
    -webkit-animation: slide-bottom 7s infinite;
    -moz-animation: slide-bottom 7s infinite;
    h3 {
      font-size: 2rem;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.1rem;
      white-space: pre-wrap;
      line-height: 1.8rem;
    }
  }

  .imageBox {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .frameBox {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .frame {
        width: 100%;
        height: 100%;
        min-width: 300px;
        min-height: 400px;
        background-image: url('../../images/iphone.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 5;
        .app {
          width: 242px;
          height: 354px;
          object-fit: cover;
          object-position: top;
        }
        .web {
          display: none;
        }
      }
    }
  }
}

@include tablet {
  .introKick {
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    .textBox {
      width: 36%;
      height: 100%;
      animation: slide-left 7s infinite;
      -webkit-animation: slide-left 7s infinite;
      -moz-animation: slide-left 7s infinite;
      padding: 0 10px;
      h3 {
        font-size: 2rem;
      }
      p {
        line-height: 2.4rem;
      }
    }
    .imageBox {
      width: 60%;
      height: 100%;
      .frameBox {
        width: 100%;
        .frame {
          min-width: 550px;
          max-width: 850px;
          background-image: url('../../images/macbook.png');
          background-position: center;
          background-size: contain;
          align-items: center;
          .app {
            display: none;
          }
          .web {
            display: block;
            min-width: 423px;
            min-height: 259px;
            max-width: 654px;
            max-height: 410px;
            width: 77%;
            height: auto;
            object-fit: cover;
            object-position: center;
            margin-bottom: 3%;
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .introKick {
    .textBox {
      h3 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
  }
}

@include desktop {
  .introKick {
    .textBox {
      h3 {
        font-size: 2.4rem;
      }
      p {
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
  }
}
