@import './constants';
@import '../landing/responsive';
@import '../landing/grid';
@import '../../App.scss';

.introThree {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  padding: $mid-margin;

  .introThree_text {
    text-align: center;
    font-size: 1.4rem;
    margin: $mid-margin * 2 5px;
    h6 {
      margin-top: $mid-margin;
    }
  }

  .review-box {
    width: 100%;
    min-height: 150px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding: $sm-margin * 2 $mid-margin;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 20%;
      text-align: center;
      & > img {
        width: 60px;
        border-radius: 30px;
        border: solid 1px $light-grey;
        margin-bottom: 8px;
      }
      .nickname {
        font-size: 1.3rem;
        font-weight: 600;
      }
      .createdAt {
        font-size: 1rem;
      }
      .stars {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 10px;
          filter: invert(86%) sepia(35%) saturate(624%) hue-rotate(3deg)
            brightness(98%) contrast(93%);
        }
      }
    }
    .content {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .product {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1rem;
        margin-bottom: 4px;
        .desc {
          margin-right: 10px;
        }
        .name {
          font-weight: 600;
        }
      }
      .review {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  @include responsive(T) {
    min-height: 800px;
    padding: $mid-margin * 2;

    .introThree_text {
      font-size: 2rem;
      h2 {
        br {
          display: none;
        }
      }
    }
    .container {
      .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .col-sm-1 {
        max-width: 600px;
        &:first-child,
        &:last-child {
          align-self: center;
        }
      }
    }
    .review-box {
      .content {
        .product {
          font-size: 1.4rem;
        }
        .review {
          font-size: 1.2rem;
        }
      }
    }
  }
  @include responsive(D) {
    min-height: 800px;
    padding: $mid-margin $mid-margin * 2;

    .introThree_text {
      font-size: 2rem;
      padding: 0;
      h2 {
        br {
          display: none;
        }
      }
    }
    .container {
      .row {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 180px);
        grid-template-columns: repeat(3, 420px);
        .col-sm-1:nth-child(1) {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
          align-self: center;
        }
        .col-sm-1:nth-child(4) {
          grid-column: 3 / 4;
          grid-row: 1 / 3;
          align-self: center;
        }
      }
    }
  }
}

// animation
.hovering {
  -webkit-animation-name: hovering;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: hovering;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  animation-name: hovering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes hovering {
  from {
    -webkit-transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -25px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes hovering {
  from {
    -moz-transform: translate(0, 0px);
  }
  50% {
    -moz-transform: translate(0, -25px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}

@keyframes hovering {
  from {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -25px);
  }
  to {
    transform: translate(0, -0px);
  }
}
