@import '../landing/constants';
@import '../landing/responsive';
@import '../landing/grid';
@import '../../App.scss';

.introTwo {
  width: 100%;
  padding: $mid-margin * 3 $mid-margin;
  .container {
    margin: auto;
  }
  .text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
  @include mobile-only() {
    .text-area {
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      h2 {
        font-size: 2.6rem;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }

  .keyword {
    position: relative;
    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .text {
      position: absolute;
      top: 40%;
      left: 14%;
      color: $white;
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
    }
  }

  @include responsive(T) {
    min-height: 500px;
  }
}
