@import '../App';

@keyframes ldio-77otxw8ob1n {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-77otxw8ob1n div {
  position: relative;
  width: 30px;
  height: 30px;
  border: 5px solid $deep-grey;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-77otxw8ob1n div {
  animation: ldio-77otxw8ob1n 1s linear infinite;
  top: 20px;
}
.loadingio-spinner-rolling-knr6hlgjhvk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff00;
}
.ldio-77otxw8ob1n {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-77otxw8ob1n div {
  box-sizing: content-box;
}
