@import '../App.scss';
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 980;
  display: flex;
  justify-content: center;
}

.gunsigi_logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .images {
    width: 15%;
    position: relative;
    margin-bottom: 16%;
    .g {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 5;
    }
    .g:nth-child(2) {
      z-index: 1;
    }
  }
  .unsigi {
    width: 30%;
    margin-left: 3px;
  }
}

// bounce drop animation
.bounce {
  -webkit-animation: bounce 1500ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: bounce 1500ms;
  -moz-animation-iteration-count: infinite;
  animation: bounce 1500ms;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  40% {
    opacity: 1;
    transform: translateY(30px) rotate(-38deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  60% {
    transform: translateY(-10px) rotate(-20deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  100% {
    transform: translateY(0) rotate(0);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  40% {
    opacity: 1;
    transform: translateY(30px) rotate(-38deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  60% {
    transform: translateY(-10px) rotate(-20deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  100% {
    transform: translateY(0) rotate(0);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
}

@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  40% {
    opacity: 1;
    transform: translateY(30px) rotate(-38deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  60% {
    transform: translateY(-10px) rotate(-20deg);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
  100% {
    transform: translateY(0) rotate(0);
    animation-timing-function: var(--EASE_OUT_QUAD);
  }
}

// fade-out animation
.fade-out {
  -webkit-animation: fade-out 1500ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: fade-out 1500ms;
  -moz-animation-iteration-count: infinite;
  animation: fade-out 1500ms;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

