@import '../App';

@keyframes shake {
  0% {
    left: 0;
  }
  25% {
    left: 5px;
  }
  75% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes shake {
  0% {
    left: 0;
  }
  25% {
    left: 5px;
  }
  75% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}

@-moz-keyframes shake {
  0% {
    left: 0;
  }
  25% {
    left: 5px;
  }
  75% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}

.PasswordSetting_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PasswordSetting_in {
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.PasswordSetting {
  width: 380px;
  height: 600px;
  border-radius: 5px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  .forgot {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .text {
      font-size: 1.3rem;
      line-height: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    .input-email {
      .input {
        margin-bottom: 20px;
        width: 260px;
        height: 34px;
        border-radius: 20px;
        border: 1px solid $deep-grey;
        padding-left: 15px;
        color: $black;
        &:focus {
          outline: 2px solid $deep-blue;
        }
      }
      .input-change {
        margin-bottom: 20px;
        width: 260px;
        height: 34px;
        border-radius: 20px;
        border: 1px solid $deep-grey;
        padding-left: 15px;
        color: $black;

        position: relative;
        border: none;
        box-shadow: 0 0 0 2px rgb(184, 1, 1);
        outline: none;
        -webkit-animation: shake 0.2s ease-in-out 0s 2;
        -moz-animation: shake 0.2s ease-in-out 0s 2;
        animation: shake 0.2s ease-in-out 0s 2;
        &:focus {
          outline: none;
        }
      }
      .none-email {
        opacity: 0;
        position: relative;
        top: -10px;
        left: 15px;
        font-size: 1.1rem;
        font-weight: 600;
        color: $red;
      }
      .none-email-change {
        opacity: 1;
        position: relative;
        top: -10px;
        left: 15px;
        font-size: 1.1rem;
        font-weight: 600;
        color: $red;
      }
    }
  }

  .link_btn {
    width: 260px;
    height: 34px;
    border-radius: 20px;
    background-color: $light-blue;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 600;
    &:hover {
      background-color: $deep-blue;
      color: $white;
    }
  }
}

@include tablet {
  .PasswordSetting_in {
    background-color: $white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
}
