@import '../App';

.Product_items {
  background-color: white;
  width: 160px;
  height: 160px;
  display: flex;
  border-radius: 5px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 25px;
  &:hover {
    box-shadow: 0px 3px 8px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-15px);
    transition: all 0.5s;
  }

  .Product_img {
    position: relative;
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: none;
    }
    .img_none {
      position: absolute;
      top: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $deep-grey;
      font-size: 1.1rem;
    }
  }

  .title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    span {
      width: 70%;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .bookmark {
      width: 20px;
      display: flex;
      justify-content: flex-end;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  .stars {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    height: 16px;
    .review {
      margin-left: 6px;
      font-size: 1.1rem;
    }
  }
}

.Product_heart {
  filter: $f-light-grey;
  width: 20px;
  height: 20px;
}

.Product_heart_change {
  filter: $f-orange;
  width: 20px;
  height: 20px;
}

.Product_icon {
  filter: $f-light-grey;
}

.Product_icon_change {
  filter: $f-star;
}

@media screen and (min-width: 870px) {
  .Product_items {
    width: 200px;
    height: 200px;
    .Product_img {
      .img_none {
        font-size: 1.4rem;
      }
    }
  }
}

@include laptop {
  .Product_items {
    width: 200px;
    height: 200px;
    .title {
      font-size: 1.4rem;
      .bookmark {
        width: 30px;
        display: flex;
        justify-content: flex-end;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .Product_items {
    width: 270px;
    height: 270px;
    .title {
      font-size: 1.6rem;
      .bookmark {
        width: 40px;
        display: flex;
        justify-content: flex-end;
        img {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}
