@import '../App';

.Product_container {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  position: relative;
  &:hover {
    box-shadow: 0px 4px 10px $deep-grey;
    cursor: pointer;
    top: -20px;
  }
}

.Product_items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  div {
    &:nth-child(1) {
      width: 100%;
      height: 60%;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: none;
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: 800;
    }
    &:nth-child(3) {
      display: flex;
      align-items: center;
      margin-top: 6px;
      span {
        margin-left: 3px;
        &:nth-child(1) {
          margin-left: 0;
        }
        img {
          width: 14px;
          height: 14px;
        }
      }
      div {
        position: relative;
        top: -1px;
        font-size: 1.2rem;
        margin-left: 6px;
        color: $deep-grey;
      }
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.Product_icon {
  filter: invert(96%) sepia(3%) saturate(131%) hue-rotate(132deg)
    brightness(116%) contrast(87%);
}

.Product_icon_change {
  filter: invert(91%) sepia(73%) saturate(3041%) hue-rotate(297deg)
    brightness(109%) contrast(84%);
}

@media (min-width: $breakpoint-mobile + 100px) and (max-width: $breakpoint-tablet - 1px) {
  .Product_container {
    width: 150px;
    height: 150px;
  }

  .Product_items {
    div {
      &:nth-child(2) {
        font-size: 1.4rem;
      }
      &:nth-child(3) {
        margin-top: 5px;
        span {
          img {
            width: 14px;
            height: 14px;
          }
        }
        div {
          font-size: 1.1rem;
        }
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}

@media (min-width: $breakpoint-mobile - 1px) and (max-width: $breakpoint-mobile) {
  .Product_container {
    width: 130px;
    height: 130px;
  }

  .Product_items {
    padding: 15px 20px;
    div {
      &:nth-child(2) {
        font-size: 1.4rem;
      }
      &:nth-child(3) {
        margin-top: 5px;
        span {
          img {
            width: 10px;
            height: 10px;
          }
        }
        div {
          font-size: 1rem;
        }
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
