@import '../App';

.ProductDetail {
  min-width: $breakpoint-mobile;
  background-color: $white;
}

.ProductDetail_container {
  white-space: pre-wrap;
  width: 100%;
  padding: 30px 30px;
}

.ProductDetail_in {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProductDetail_img {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid $light-grey;
  img {
    &:nth-child(1) {
      width: 35px;
      height: 35px;
      position: absolute;
      right: 15px;
      top: 15px;
    }
    &:nth-child(2) {
      width: 60%;
      height: 50%;
      object-fit: contain;
    }
  }
  .heart {
    cursor: pointer;
  }
  span {
    font-size: 1.6rem;
    color: $deep-grey;
  }
}

.ProductDetail_desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.ProductDetail_desc_top {
  div {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 400;
  }
  .company {
    font-size: 1rem;
    font-weight: normal;
    color: $deep-grey;
  }
  .name {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
    span {
      &:nth-child(2) {
        font-size: 1rem;
        font-weight: normal;
        margin-left: 10px;
        color: $deep-grey;
      }
    }
    button {
      position: relative;
      top: 5px;
      img {
        width: 26px;
        height: 26px;
        margin-left: 10px;
        border-radius: 20px;
      }
    }
  }
  .functional {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 23px;
  }
  .stars {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 30px;
    .score {
      margin-left: 10px;
      font-size: 2rem;
      color: $star;
      font-weight: 500;
    }
  }
}

.ProductDetail_heart {
  filter: $f-light-grey;
}

.ProductDetail_heart_change {
  filter: $f-orange;
}

.ProductDetail_star {
  filter: $f-light-grey;
}

.ProductDetail_star_change {
  filter: $f-star;
}

.line {
  border-top: 1px solid $light-grey;
  margin-bottom: 15px;
}

.ProductDetail_desc_bottom {
  font-size: 1.1rem;
  div {
    margin-bottom: 18px;
    display: flex;
    font-weight: 600;
    .name {
      width: 30%;
      line-height: 16px;
    }
    .desc {
      width: 70%;
      font-weight: 400;
      line-height: 16px;
    }
  }

  .ProductDetail_chemistry {
    position: relative;
    top: 13px;
    .name {
      position: relative;
      top: 10px;
      width: 30%;
    }
    div {
      width: 70%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      .good {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        background-color: $green;
        border-radius: 20px;
        margin-right: 5px;
        img {
          width: 12px;
          height: 12px;
          filter: $f-white;
          margin-right: 5px;
        }
      }

      .bad {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        background-color: $red;
        border-radius: 20px;
        margin-right: 5px;
        img {
          width: 12px;
          height: 12px;
          filter: $f-white;
          margin-right: 5px;
          transform: rotate(180deg);
        }
      }
    }
  }
}

@include tablet {
  .ProductDetail_container {
    white-space: pre-wrap;
    width: 100%;
    padding: 40px 40px;
  }

  .ProductDetail_img {
    height: 60vh;
    img {
      &:nth-child(2) {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }

  .ProductDetail_desc_top {
    div {
      font-size: 1.2rem;
    }
    .company {
      font-size: 1.2rem;
    }
    .name {
      font-size: 2.4rem;
      span {
        &:nth-child(2) {
          font-size: 1.2rem;
        }
      }
      button {
        top: 5px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
    .functional {
      font-size: 1.4rem;
    }
    .stars {
      img {
        width: 30px;
        height: 30px;
      }
      span {
        font-size: 2.4rem;
      }
    }
  }

  .ProductDetail_desc_bottom {
    font-size: 1.4rem;
    div {
      .name {
        width: 30%;
        line-height: 16px;
      }
      .desc {
        width: 70%;
        line-height: 20px;
      }
    }

    .ProductDetail_chemistry {
      .name {
        width: 30%;
      }
      div {
        width: 70%;
        .good {
          font-size: 1.2rem;
        }

        .bad {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .ProductDetail_in {
    flex-direction: row;
  }

  .ProductDetail_img {
    width: 40%;
    height: 80vh;
    img {
      &:nth-child(2) {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }

  .ProductDetail_desc_top {
    .functional {
      width: 100%;
      height: 100px;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      overflow-y: scroll;
    }
    .functional::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  .ProductDetail_desc {
    width: 60%;
    flex-direction: column;
    margin: 0 0 0 50px;
    justify-content: center;
  }

  .ProductDetail_desc_bottom {
    div {
      .name {
        width: 20%;
      }
      .desc {
        width: 80%;
      }
    }

    .ProductDetail_chemistry {
      .name {
        width: 20%;
      }
      div {
        width: 80%;
        .good {
          font-size: 1.2rem;
          padding: 7px 15px;
        }

        .bad {
          font-size: 1.2rem;
          padding: 7px 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 1441px) {
  .ProductDetail_container {
    white-space: pre-wrap;
    width: 100%;
    padding: 40px 200px;
  }

  .ProductDetail_img {
    height: 65vh;
    img {
      &:nth-child(2) {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
}
