@import '../App.scss';

.reset {
  width: 100vw;
  height: 100vh;
  background: #ebf0f78c;
  background: -webkit-linear-gradient(
    335deg,
    rgba(174, 216, 232, 1) 2%,
    rgba(156, 196, 255, 1) 62%,
    rgba(193, 202, 245, 1) 96%
  );
  background: linear-gradient(
    335deg,
    rgba(174, 216, 232, 1) 2%,
    rgba(156, 196, 255, 1) 62%,
    rgba(193, 202, 245, 1) 96%
  );

  .top-area {
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    position: absolute;
    top: -80px;
    .lock {
      width: 200px;
      margin: 0 auto;
    }
  }
  .container {
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 50%; /* Set your own width: percents, ems, whatever! */
    min-width: 340px;
    max-width: 600px;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.981);
    overflow-y: visible; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    position: absolute; /* Break it out of the regular flow */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0px 15px 20px -5px #7999cc;
    padding: 100px 10px 30px 10px;
    .title {
      height: 40px;
      font-size: 1.6rem;
    }
    .input-area {
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      input {
        width: 240px;
        height: 34px;
        border: solid 1px $deep-grey;
        border-radius: 17px;
        padding-left: 14px;
        margin-bottom: 2px;
        &::placeholder {
          font-size: 1.1rem;
        }
        &:focus {
          outline: solid 2px $deep-blue;
          // outline: solid 2px #3749b1;
          border: none;
        }
      }
      .shake {
        position: relative;
        outline: solid 2px $red;
        // outline: solid 2px #3749b1;
        border: none;
        animation: shake 0.2s ease-in-out 0s 2;
        &:focus {
          outline: none;
          border: solid 1px $deep-grey;
        }
      }
      .msg {
        width: 210px;
        height: 30px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.4rem;
        color: $red;
        // color: #3749b1;
        white-space: pre-wrap;
      }
    }
    .bottom-area {
      height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .submitBtn {
        width: 140px;
        height: 34px;
        background-color: #c7e8fd;
        background-color: #a2c7fd;
        font-size: 1.2rem;
        font-weight: 600;
        color: #191922;
        border-radius: 17px;
        letter-spacing: 1px;
        &:hover {
          cursor: pointer;
          background-color: $deep-blue;
          background-color: #4858ad;
          color: $white;
        }
      }
      .backBtn {
        width: 100px;
        height: 20px;
        font-size: 1rem;
        font-weight: 600;
        color: $deep-grey;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
          width: 15px;
        }
        span {
          height: 10px;
        }
      }
    }
  }
  .success {
    min-height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .check {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .success-checkmark {
      width: 88px;
      height: 115px;
      margin: 0 auto;

      .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #1e2ca8;

        &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
        }

        &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
        }

        &::before,
        &::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #ffffff;
          transform: rotate(-45deg);
        }

        .icon-line {
          height: 5px;
          background-color: #1e2ca8;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;

          &.line-tip {
            top: 46px;
            left: 14px;
            width: 25px;
            transform: rotate(45deg);
            animation: icon-line-tip 0.75s;
          }

          &.line-long {
            top: 38px;
            right: 8px;
            width: 47px;
            transform: rotate(-45deg);
            animation: icon-line-long 0.75s;
          }
        }

        .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(77, 144, 207, 0.63);
        }

        .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #ffffff;
        }
      }
      .check-icon-x {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid #a8271e;

        &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
        }

        &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
        }

        &::before,
        &::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #ffffff;
          transform: rotate(-45deg);
        }

        .icon-line {
          height: 5px;
          background-color: #a8271e;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;

          &.line-tip {
            top: 46px;
            left: 14px;
            width: 25px;
            transform: rotate(45deg);
            animation: icon-line-tip 0.75s;
          }

          &.line-one {
            top: 38px;
            right: 16px;
            width: 47px;
            transform: rotate(-45deg);
            animation: icon-line-fail 0.75s;
          }
          &.line-second {
            transform: rotate(-135deg);
          }
        }
        .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(207, 92, 77, 0.63);
        }

        .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #ffffff;
        }
      }
    }
    .success-message {
      font-size: 2rem;
      font-weight: 600;
      color: #35239b;
    }
    .fail-message {
      font-size: 2rem;
      font-weight: 600;
      color: #a8271e;
    }
    .fail-text {
      font-size: 1.4rem;
      position: absolute;
      top: 35%;
    }
  }
  .lastBtn {
    width: 140px;
    height: 34px;
    background-color: #a2c7fd;
    font-size: 1.4rem;
    font-weight: 600;
    color: #191922;
    border-radius: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
    &:hover {
      cursor: pointer;
      background-color: #4a51b8;
      color: $white;
    }
  }
}

// --- success icon animation ---
@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@keyframes icon-line-fail {
  0% {
    width: 0px;
    right: 16px;
    top: 40px;
  }
  65% {
    width: 0px;
    right: 20px;
    top: 40px;
  }
  84% {
    width: 55px;
    right: 16px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 16px;
    top: 38px;
  }
}

// --- input shake animation
@keyframes shake {
  0% {
    left: 0rem;
  }
  25% {
    left: 0.5rem;
  }
  75% {
    left: -0.5rem;
  }
  100% {
    left: 0rem;
  }
}
