@import '../App';

.modal_outside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);

  .modal_form {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 30px;
    width: 100%;
    height: 100%;

    .review_top {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .review_title {
        display: flex;
        gap: 10px;

        :first-child {
          font-weight: 800;
        }
        span {
          width: 70px;
          text-overflow: ellipsis;
        }
      }

      .product_star {
        display: flex;
        justify-content: flex-start;

        .product_img {
          width: 70px;
          border: 2px solid $light-grey;
          border-radius: 5px;
          padding: 5px;
        }

        .product_img_none {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70px;
          border: 2px solid $light-grey;
          border-radius: 5px;
          color: $deep-grey;
        }

        .rating-group {
          margin: 15px 0 5px 15px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          flex-direction: row-reverse;

          input {
            display: none;
          }

          img {
            filter: $f-light-grey;
            width: 30px;
            cursor: pointer;
          }

          :checked ~ label {
            img {
              filter: $f-star;
            }
          }

          label:hover,
          label:hover ~ label {
            img {
              filter: invert(66%) sepia(62%) saturate(1811%) hue-rotate(354deg)
                brightness(99%) contrast(93%);
            }
          }
        }
      }
    }

    .period {
      font-weight: 800;
      display: flex;
      flex-direction: column;
      gap: 10px;

      div {
        display: flex;
        justify-content: space-between;

        label {
          display: flex;
          gap: 3px;

          input {
            margin-right: 2px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .review_text {
      div {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;

        :first-child {
          font-weight: 800;
        }

        :last-child {
          color: $deep-grey;
        }
      }

      textarea {
        resize: none;
        border: 3px solid $light-grey;
        border-radius: 5px;
        width: 100%;
        max-height: 150px;
        padding: 10px;
        line-height: 20px;
        letter-spacing: 1px;

        &:focus {
          outline: 0;
          border: 3px solid $deep-blue;
        }
      }
    }

    .review_img {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .photo {
        display: flex;
        align-items: center;
        font-weight: 800;
        span {
          &:nth-child(2) {
            margin-left: 10px;
            font-weight: 400;
            color: $deep-grey;
          }
        }
      }

      .review_img_in {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .loacal_img {
          gap: 6px;
          border: 3px solid $light-grey;
          border-radius: 5px;
          width: 100%;
          height: 85px;
          display: flex;
          padding: 5px;

          .imgBase64 {
            width: 75px;
            height: 100%;
            position: relative;
            div {
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 600;
              opacity: 0;
              &:hover {
                background-color: rgba(0, 0, 0, 0.4);
                color: $white;
                opacity: 1;
                cursor: pointer;
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          label {
            border: 2px dashed $light-grey;
            height: 100%;
            width: 75px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }

            span {
              color: $light-grey;
              font-size: 2rem;
            }

            input {
              display: none;
            }
          }
        }
      }
      #review_notice {
        color: $red;
        font-weight: 800;
        opacity: 0;
      }
    }

    .bottom {
      display: flex;
      justify-content: center;

      button[type='button'] {
        background-color: $light-blue;
        border-radius: 30px;
        height: 40px;
        font-size: 2rem;
        font-weight: 800;
        width: 100%;

        &:hover {
          background-color: $deep-blue;
          color: $white;
        }
      }
    }
  }
}

@include tablet {
  .modal_outside {
    .modal_form {
      width: 400px;
      height: 700px;
      border-radius: 5px;
    }
  }
}

@include laptop {
  .modal_outside {
    .modal_form {
      width: 700px;
      height: 600px;
      padding: 50px;
      gap: 30px;

      .review_top {
        flex-direction: row;
        align-items: center;
        gap: 0;

        .review_title {
          flex-direction: column;
          width: 15%;
        }

        .product_star {
          width: 65%;
        }
      }

      .period {
        flex-direction: row;
        gap: 0;

        span {
          width: 15%;
        }

        div {
          gap: 50px;
        }
      }

      .review_text {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
          flex-direction: column;
          width: 15%;
        }

        textarea {
          width: 85%;
          max-height: 146px;
        }
      }

      .review_img {
        flex-direction: row;
        align-items: center;
        gap: 0;

        .photo {
          flex-direction: column;
          align-items: flex-start;
          width: 15%;
          margin-top: -20px;

          span {
            &:nth-child(2) {
              margin-top: 10px;
              margin-left: 0;
              font-weight: 400;
              color: $deep-grey;
            }
          }
        }

        div {
          width: 85%;

          .loacal_img {
            label {
              width: 15%;
            }
          }

          #review_notice {
            width: 100%;
            margin-top: 0;
          }
        }
      }

      .bottom {
        button[type='submit'] {
          width: 200px;
          font-size: 1.6rem;
        }
      }
    }
  }
}
