@import '../App';

.Reviews_container {
  width: 100%;
  margin-bottom: 20px;
}

.Reviews_in {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $light-grey;
  background-color: white;
  padding: 25px;
}

.Reviews_trashOrHeart {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  .like {
    display: flex;
    align-items: center;
    cursor: pointer;

    .heart_icon {
      filter: $f-deep-grey;
    }
    .heart_icon_change {
      filter: $f-orange;
    }
    span {
      margin-left: 3px;
      font-size: 1.2rem;
      font-weight: 600;
      color: $deep-grey;
    }
  }
  .delete {
    cursor: pointer;
    margin-left: 10px;
    filter: $f-deep-grey;
  }
  img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
}

.Reviews_left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Reviews_Profile_info {
  display: flex;
  .profile {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 20px;
  }

  .nameOrDateOrstar {
    display: flex;
    flex-direction: column;
    .date {
      color: $deep-grey;
      margin-bottom: 3px;
      margin-top: 3px;
    }
    .nickname {
      font-size: 1.4rem;
      font-weight: 800;
      margin-bottom: 5px;
    }
    .stars {
      display: flex;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.ProductDetail_icon {
  filter: $f-light-grey;
}

.ProductDetail_icon_change {
  filter: $f-star;
}

.Reviews_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 0 0 0;
  .name {
    display: flex;
    align-items: center;
    .product_name {
      span {
        font-size: 1.4rem;
        font-weight: 600;
        &:nth-child(2) {
          margin-left: 10px;
          font-weight: 400;
        }
      }
    }
    .cursor {
      cursor: pointer;
    }

    .period {
      display: flex;
      align-items: center;
      margin-left: 30px;
      img {
        position: relative;
        top: -1px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        filter: $f-deep-blue;
      }
      span {
        font-size: 1.2rem;
        font-weight: 800;
        color: $deep-blue;
      }
    }
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }
  .content {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

@include tablet {
  .Reviews_in {
    flex-direction: row;
    padding: 30px 0;
  }

  .Reviews_trashOrHeart {
    .like {
      span {
        margin-left: 5px;
        font-size: 1.6rem;
      }
    }
    .delete {
      margin-left: 14px;
      filter: $f-deep-grey;
    }
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  .Reviews_left {
    width: 300px;
    justify-content: center;
  }

  .Reviews_Profile_info {
    flex-direction: column;
    align-items: center;
    .profile {
      width: 90px;
      height: 90px;
      margin-right: 0;
      border-radius: 45px;
    }

    .nameOrDateOrstar {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      .date {
        font-size: 1.1rem;
      }
      .nickname {
        font-size: 1.6rem;
      }
      .stars {
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  .Reviews_right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 30px 20px 0;
    .name {
      .product_name {
        span {
          font-size: 1.6rem;
          font-weight: 800;
        }
      }

      .period {
        position: relative;
        top: 1px;
        img {
          top: -2px;
          width: 20px;
          height: 20px;
        }
        span {
          font-size: 1.4rem;
        }
      }
    }
    .images {
      margin: 20px 0;
      width: 100%;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .content {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Reviews_left {
    justify-content: center;
  }
  .Reviews_right {
    .content {
      width: 75%;
    }
  }
}

// @include desktop {
//   .Reviews_left {
//     width: 20%;
//     justify-content: center;
//   }

//   .Reviews_right {
//     width: 80%;
//   }
// }
