@import '../App';

.ReviewList_container {
  width: 100%;
}

.ReviewList_in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReviewList_write {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  align-items: center;
  width: 100%;
  background-color: $light-blue;
  font-size: 1.2rem;
  font-weight: 800;

  .ReviewList_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sequence {
      span {
        margin-right: 10px;
        &:nth-child(3) {
          margin-right: 0;
        }
      }

      .color {
        color: $deep-grey;
      }

      .color_change {
        color: $black;
      }

      .button {
        cursor: pointer;
      }
    }
  }

  .ReviewList_tag {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 8px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 23px;
      font-weight: 600;
      background-color: $white;
      font-size: 1.1rem;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        background-color: $deep-blue;
        color: $white;
      }
    }

    .ReviewList_month_change {
      background-color: $deep-blue;
      color: $white;
    }
  }
}

.ReviewList_list {
  width: 100%;
  padding: 30px 30px 10px 30px;
  .review_none {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: $deep-grey;
    margin-bottom: 40px;
  }
}

@include tablet {
  .ReviewList_write {
    position: relative;
    font-size: 1.4rem;
    padding: 20px 40px;

    .ReviewList_title {
      .sequence {
        font-size: 1.2rem;
      }
    }

    .ReviewList_tag {
      position: absolute;
      top: -7px;
      right: 170px;
      margin-top: 20px;
      width: 100%;
      display: flex;
      grid-template-columns: none;
      gap: 12px;
      justify-content: flex-end;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        font-size: 1.4rem;
        font-weight: 600;
        background-color: $white;
        padding: 5px 15px;
        border-radius: 20px;
      }
    }
  }

  .ReviewList_list {
    width: 100%;
    padding: 40px 40px 20px 40px;
    .review_none {
      font-size: 1.6rem;
    }
  }
}

@media screen and (min-width: 1441px) {
  .ReviewList_in {
    padding: 0 200px;
  }

  .ReviewList_list {
    padding: 40px 0 20px 0;
  }
}
