@import '../App';

.Reviews_container {
  width: 100%;
  margin-bottom: 20px;
}

.Reviews_in {
  display: flex;
  border-radius: 10px;
  border: 1px solid $light-grey;
  background-color: white;
}

.Reviews_left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .profile {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
    margin-bottom: 10px;
  }
  .nameOrDate {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nickname {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .date {
    color: $deep-grey;
    margin-bottom: 5px;
  }
  .stars {
    display: flex;
    img {
      width: 12px;
      height: 12px;
    }
  }
  .delete_left {
    display: none;
  }
}

.Reviews_right {
  position: relative;
  width: 80%;
  padding: 30px 0;
  .delete {
    position: absolute;
    right: 30px;
    width: 20px;
    height: 20px;
    filter: invert(65%) sepia(7%) saturate(19%) hue-rotate(48deg)
      brightness(98%) contrast(92%);
    cursor: pointer;
  }
  .name {
    span {
      font-size: 1.4rem;
      &:nth-child(2) {
        margin-left: 10px;
        font-weight: normal;
      }
    }
  }
  .images {
    margin-top: 20px;
    img {
      width: 80px;
      height: 80px;
      cursor: pointer;
      object-fit: cover;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .content {
    font-size: 1.4rem;
    font-weight: normal;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet - 1px) {
  .Reviews_left {
    width: 30%;
  }

  .Reviews_right {
    width: 70%;
  }
}

@media (min-width: $breakpoint-mobile - 1px) and (max-width: $breakpoint-mobile) {
  .Reviews_in {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .Reviews_left {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    .profile {
      width: 60px;
      height: 60px;
    }
    .nameOrDate {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
      margin-right: 20px;
    }
    .nickname {
      font-size: 1.4rem;
      margin-bottom: 5px;
    }
    .date {
      margin-bottom: 0px;
    }
    .stars {
      img {
        width: 12px;
        height: 12px;
      }
    }
    .delete_left {
      display: inline-block;
      position: absolute;
      right: -10px;
      top: -10px;
      width: 20px;
      height: 20px;
      filter: invert(65%) sepia(7%) saturate(19%) hue-rotate(48deg)
        brightness(98%) contrast(92%);
      cursor: pointer;
    }
  }

  .Reviews_right {
    position: relative;
    width: 100%;
    padding: 20px 0 0 0;
    .delete {
      display: none;
    }
    .name {
      span {
        font-size: 1.2rem;
        &:nth-child(2) {
          margin-left: 10px;
          font-weight: normal;
        }
      }
    }
    .images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      img {
        width: 125px;
        height: 125px;
        margin-right: 10px;
        margin-bottom: 20px;
      }
    }
    .content {
      font-size: 1.1rem;
      font-weight: normal;
    }
  }
}
