@import '../App';

.Search_conatiner {
  min-width: $breakpoint-mobile;
  width: 100%;
  overflow-y: scroll;
}

.Search_in {
  .Search_img {
    width: 100%;
    height: 350px;
    background-image: url(../images/search_background.png);
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
      height: 300px;
    }
  }
}

.Search_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.Search_title {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 30px;
  span {
    &:nth-child(1) {
      margin-left: 10px;
    }
  }
  .Sequence {
    font-size: 1.4rem;
    button {
      &:nth-child(1) {
        margin-right: 7px;
        cursor: pointer;
      }
      &:nth-child(2) {
        margin-right: 7px;
        cursor: auto;
      }
      &:nth-child(3) {
        cursor: pointer;
      }
    }

    .textColor_change {
      font-weight: 600;
      color: $black;
    }

    .textColor {
      color: $deep-grey;
    }
  }
}

.Search_products {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  .Product_items {
    margin: 0 auto;
  }
  .noSearchList {
    width: 100%;
    min-width: 360px;
    min-height: 200px;
    height: 40vh;
    grid-column-start: 1;
    grid-column-end: 7;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 130px;
        filter: $f-light-grey;
      }
      p {
        font-size: 1.6rem;
        font-weight: 600;
        color: $deep-grey;
        margin-bottom: 16px;
      }
      p:last-child {
        font-size: 1.2rem;
      }
    }
  }
  .targetEl {
    width: 100%;
    grid-column: 1/ 3;
  }
}

@media screen and (min-width: 550px) {
  .Search_products {
    grid-template-columns: repeat(3, 1fr);
    .targetEl {
      grid-column: 1/ 4;
    }
  }
}

@media screen and (min-width: 740px) {
  .Search_products {
    grid-template-columns: repeat(4, 1fr);
    .targetEl {
      grid-column: 1 / 5;
    }
  }
}

@include tablet {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 270px;
      background-image: url(../images/search_background.png);
      background-position: right;
      justify-content: flex-start;
      align-items: flex-end;

      img {
        height: 220px;
        margin-left: 50px;
      }
    }
  }

  .Search_title {
    font-size: 1.8rem;
    padding: 0 15px 0 5px;
  }
}

@media screen and (min-width: 1024px) {
  .Search_products {
    grid-template-columns: repeat(4, 1fr);
  }

  .Search_title {
    .Sequence {
      font-size: 1.4rem;
      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .Search_products {
    grid-template-columns: repeat(5, 1fr);
    .targetEl {
      grid-column: 1 / 6;
    }
  }
}

@include desktop {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 350px;
      background-image: url(../images/search_background.png);
      background-position: right;
      background-size: cover;
      justify-content: flex-start;
      align-items: flex-end;

      img {
        height: 300px;
        margin-left: 70px;
      }
    }
  }

  .Search_products {
    grid-template-columns: repeat(6, 1fr);
    .targetEl {
      grid-column: 1 / 7;
    }
  }
}

@media screen and (min-width: 1600px) {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 45vh;
      background-image: url(../images/search_background.png);
      background-position: right;
      background-size: cover;
      justify-content: flex-start;
      align-items: flex-end;

      img {
        height: 38vh;
        margin-left: 100px;
      }
    }
  }
}
