@import '../App';

.Search_conatiner {
  min-width: $breakpoint-mobile;
  width: 100%;
  // background-color: $white;
}

.Search_in {
  .Search_img {
    width: 100%;
    height: 40vh;
    background-image: url(../images/search_app.png);
    background-size: cover;
    background-position: center;
  }
}

.Search_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.Search_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 30px;
  span {
    &:nth-child(1) {
      margin-left: 10px;
    }
  }
  .Sequence {
    font-size: 1.4rem;
    button {
      &:nth-child(1) {
        margin-right: 7px;
        cursor: pointer;
      }
      &:nth-child(2) {
        margin-right: 7px;
        cursor: auto;
      }
      &:nth-child(3) {
        cursor: pointer;
      }
    }

    .textColor_change {
      font-weight: 600;
      color: $black;
    }

    .textColor {
      color: $deep-grey;
    }
  }
}

.Search_products {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  // overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .noSearchList {
    width: 100%;
    min-width: 360px;
    min-height: 200px;
    height: 40vh;
    grid-column-start: 1;
    grid-column-end: 7;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 130px;
        filter: $f-light-grey;
      }
      p {
        font-size: 1.6rem;
        font-weight: 600;
        color: $deep-grey;
        margin-bottom: 16px;
      }
      p:last-child {
        font-size: 1.2rem;
      }
    }
  }
  .targetEl {
    width: 100%;
    min-width: 50px;
    min-height: 50px;
    grid-column: 1/ 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 500px) {
  .Search_products {
    grid-template-columns: repeat(3, 1fr);
    .targetEl {
      grid-column: 1/ 4;
    }
  }
}

@media screen and (min-width: 650px) {
  .Search_products {
    grid-template-columns: repeat(4, 1fr);
    .targetEl {
      grid-column: 1 / 5;
    }
  }
}

@include tablet {
  .Search_in {
    .Search_img {
      height: 270px;
      background-image: url(../images/search_tablet.png);
      // background-position: bottom;
    }
  }

  .Search_title {
    font-size: 1.8rem;
  }

  .Search_bottom {
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .Search_in {
    .Search_img {
      height: 260px;
      background-image: url(../images/search_web.png);
      // background-position: top;
    }
  }

  .Search_products {
    grid-template-columns: repeat(4, 1fr);
  }

  .Search_title {
    .Sequence {
      font-size: 1.4rem;
      button {
        &:nth-child(1) {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .Search_products {
    grid-template-columns: repeat(5, 1fr);
    .targetEl {
      grid-column: 1 / 6;
    }
  }
}

@include desktop {
  .Search_in {
    .Search_img {
      height: 45vh;
      background-image: url(../images/search_web.png);
      // background-position: top;
    }
  }

  .Search_products {
    grid-template-columns: repeat(6, 1fr);
    .targetEl {
      grid-column: 1 / 7;
    }
  }
}

@media screen and (min-width: 1600px) {
  .Search_in {
    .Search_img {
      height: 50vh;
    }
  }
}
