@import '../App';

.Search_conatiner {
  position: relative;
  top: 97px;
  width: 100%;
  height: 100vh;
  background-color: $white;
}

.Search_in {
  .Search_img {
    width: 100%;
    height: 400px;
    background-image: url(../images/search_web.png);
    background-size: cover;
    background-position: bottom;
  }
}

.Search_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 30px;
}

.Search_title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 30px;
  span {
    &:nth-child(1) {
      margin-left: 10px;
    }
  }
}

.Search_products {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  gap: 30px;
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 300px;
      background-image: url(../images/search_web.png);
      background-size: cover;
      background-position: bottom;
    }
  }
  .Search_title {
    font-size: 1.6rem;
  }
}

@media (min-width: $breakpoint-mobile + 100px) and (max-width: $breakpoint-tablet - 1px) {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 800px;
      background-image: url(../images/search_app.png);
      background-size: cover;
      background-position: bottom;
    }
  }
  .Search_title {
    font-size: 1.6rem;
  }
}

@media (min-width: $breakpoint-mobile - 100px) and (max-width: $breakpoint-mobile) {
  .Search_in {
    .Search_img {
      width: 100%;
      height: 400px;
      background-image: url(../images/search_app.png);
      background-size: cover;
      background-position: bottom;
    }
  }
  .Search_title {
    font-size: 1.6rem;
  }
}
