@import '../App';

.SearchModal {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0.6);
}

.SearchModal_in {
  width: 100%;
  // height: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 30px 20px;
}

.SearchModal_keyword {
  div {
    &:nth-child(1) {
      margin-bottom: 10px;
      font-size: 1.6rem;
      font-weight: 800;
    }
  }
  .SearchModal_hashtage {
    display: flex;
    flex-wrap: wrap;
    .keyword {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 25px;
      font-size: 1.1rem;
      background-color: $light-grey;
      border-radius: 20px;
      margin-right: 10px;
      margin-top: 10px;
      cursor: pointer;
      &:hover {
        background-color: $deep-blue;
        color: $white;
      }
    }
  }
}

.SearchModal_category {
  margin-top: 50px;
  div {
    &:nth-child(1) {
      font-size: 1.6rem;
      font-weight: 800;
      margin-bottom: 10px;
    }
  }
  .SearchModal_category_icon {
    display: flex;
    flex-wrap: wrap;
    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1rem;
      margin-right: 15px;
      margin-top: 10px;
      cursor: pointer;
      width: 90px;
      height: 90px;
      border-radius: 50px;
      &:hover {
        filter: brightness(70%);
      }
      &:nth-child(1) {
        background-color: #5d83b1;
      }
      &:nth-child(2) {
        background-color: #d39b0b;
      }
      &:nth-child(3) {
        background-color: #b15d5d;
        img {
          margin-top: 4px;
        }
        div {
          margin-top: 0;
        }
      }
      &:nth-child(4) {
        background-color: #508c5d;
      }
      &:nth-child(5) {
        background-color: #939aa1;
      }
      &:nth-child(6) {
        background-color: #9d8671;
      }
      img {
        width: 35px;
        height: 35px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg)
          brightness(102%) contrast(102%);
      }
      div {
        margin-top: 7px;
        color: $white;
        font-weight: 800;
      }
    }
  }
}

.SearchModal_close {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  button {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 20px;
    border: none;
    background-color: $white;
    color: $deep-grey;
  }
}

@include tablet {
  .SearchModal {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .SearchModal_in {
    height: auto;
    padding: 30px 0 30px 30px;
  }

  .SearchModal_keyword {
    div {
      &:nth-child(1) {
        font-size: 2rem;
      }
    }
    .SearchModal_hashtage {
      .keyword {
        width: 150px;
        height: 30px;
        font-size: 1.6rem;
      }
    }
  }

  .SearchModal_category {
    div {
      &:nth-child(1) {
        font-size: 2rem;
      }
    }
    .SearchModal_category_icon {
      .category {
        font-size: 1.2rem;
        margin-right: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        &:nth-child(3) {
          img {
            margin-top: 6px;
          }
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .SearchModal_close {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    button {
      width: 40px;
      height: 40px;
      font-size: 2rem;
      font-weight: 800;
      border-radius: 20px;
      border: none;
      background-color: $white;
      color: $deep-grey;
    }
  }
}
