@import '../App.scss';

.topButton {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 100px;
  border-radius: 30px;
  border: none;
  background-color: rgba(187, 187, 187, 0.6);
  z-index: 50;
  box-shadow: 0px 2px 4px rgba(71, 71, 71, 0.403);
  img {
    filter: $f-white;
    width: 50%;
    z-index: 51;
  }
}

@media screen and (min-width: 1024px) {
  .topButton {
    width: 60px;
    height: 60px;
    right: 35px;
    bottom: 35px;
  }
}
